<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title>
    {% resources type: "Meta" %}
    {% link type:"image/x-icon", rel:"shortcut icon", href:"~/TheNeariBlogTheme/favicon.ico" %}
    <!-- Font Awesome icons (free version)-->
    {% style name:"font-awesome", version:"6", at:"Head" %}
    <!-- Google fonts -->
    {% style name:"FontsGoogle" %}
    <!-- Core theme CSS (includes Bootstrap) -->
    {% style name:"theneariblogtheme" %}
    {% style name:"theneariblogtheme-bootstrap-oc", version:"1" %}
    {% script name:"theneariblogtheme", at:"Foot" %}

    {% resources type: "HeadScript" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% render_section "HeadMeta", required: false %}
</head>
<body dir="{{ Culture.Dir }}">
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{ '~/' | href }}">{{ Site.SiteName }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">{{ "Toggle navigation" | t }}</span>
                {{ "Menu" | t }} <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_fixed_duration: "00:05:00", cache_tag: "alias:main-menu" %}
        </div>
    </nav>
    <header class="masthead-spacer">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% render_section "Header", required: false %}
    <main class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                {% render_section "Messages", required: false %}
                {% render_body %}
            </div>
        </div>
    </main>
    <footer class="border-top">
        {% render_section "Footer", required: false %}
    </footer>
    {% resources type: "FootScript" %}
</body>
</html>
